/* =========================评论模块========================= */
/*speak-box*/
.comment-box .speak-box{ padding: 10px 10px 10px 60px; background: #f6f6f6;}
.comment-box .speak-box .avatar, .comment-li .avatar, .comment-li .reply-box .avatar{ float: left; margin-left: -50px; width: 40px; height: 40px;}
.comment-box .speak-box .avatar img, .comment-li .avatar img, .comment-li .reply-box .avatar img{ border-radius: 50%;}
.comment-box .speak-box .name, .comment-li .info .name{ color: #5474b5;}
.comment-box .speak-box .input-box{ position: relative; width: 100%; margin: 10px 0;}
.comment-box .speak-box .delta, .comment-box .speak-box .delta2{ position: absolute; left: -6px; top: 20px; width: 0; height: 0; border-style: solid; border-color: transparent #e0e0e0 transparent transparent; border-width: 6px 6px 6px 0;}
.comment-box .speak-box .delta2{ left: -5px; border-color: transparent #fff transparent transparent;}
.comment-box .speak-box textarea, .comment-li .reply-box textarea{ display:block; box-sizing:border-box; width: 100%; height: 80px; border: 1px solid #e0e0e0; border-radius: 2px 2px 0 0; padding: 5px;}
.comment-li .reply-box textarea{ height: 60px;}
.comment-box .speak-box .bar{ padding-right:45px;}
.comment-box .speak-box .expression{ float: left; width: 100%; background: #fff; border-left:1px solid #dddddd; border-bottom: 1px solid #dddddd; height: 26px; box-sizing:border-box; border-radius: 0 0 0 4px;}
.comment-box .speak-box .expression i{ float:left; margin: 2px 5px; font-size: 1.4em; color:#666;}
.comment-box .speak-box .btn, .comment-li .reply-box .btn{ float: right; margin-right: -45px; width: 45px; height: 26px; border:none; background: #dddddd; color: #666; border-radius: 0 0 4px 0; font-size: .9em;}
.comment-box .social-info{ color: #999;}
.comment-box .social-info .tit, .comment-box .social-info .bx{ float: left; margin-right: 5px; font-size: .9em; color: #999; text-decoration: none;}
.comment-box .social-info .bx{ margin-right: 8px;}
.comment-box .social-info i{ float:left; font-size: 2em;}
.comment-box .social-info .f-original{ color: #c71a1a;}
.comment-box .social-info .f-weibo{ color: #e4423f;}
.comment-box .social-info .f-qq{ color: #5ca6eb;}
.comment-box .social-info .f-wechat{ color: #5aca45;}
.comment-box .social-info a{ color: #0088ce; text-decoration: underline;}
/*sort-box*/
.comment-box .sort-box{ color: #333; font-size: .8em; margin: 15px 0 0; padding: 0 8px;}
.comment-box .sort-li{ float: left; margin-right: 10px; padding:2px 8px;}
.comment-box .sort-box .cur{ background: #333; color: #fff; border-radius:4px;}
/*comment-ul*/
.comment-box .comment-ul{ padding: 0 14px 0 60px;}
.comment-box .comment-li{ padding: 15px 0; border-bottom: 1px solid #eee;}
.comment-box .comment-li:last-child{ border-bottom: none;}
.comment-li .info, .comment-li .detail, .comment-li .status, .comment-li .like-box, .comment-li .reply-box, .comment-li .reply-ul, .comment-li .more{ float: left; width: 100%;}
.comment-li .info .name{ float: left;}
.comment-li .detail{ line-height: 16px; margin: 0px 0 5px;}
.comment-li .status{ color: #5474b5; text-align: right; margin-bottom: 5px;}
.comment-li .status .time{ float: left; color: #999; font-size: .7em;}
.comment-li .status .blk{ margin-left: 10px;}
.comment-li .status a{ color: #5474b5;}
.comment-li .status i{ display: inline-block; vertical-align: top; margin: 0 5px;}
.comment-li .like-box{ color: #5474b5; background: #f6f6f6; border-bottom: 1px solid #eee; /*margin-left: -23px;*/ padding: 3px 10px; line-height: 18px; box-sizing: border-box; font-size: .8em;}
.comment-li .like-box i{ margin: 0 5px; font-size: 1rem;}
.comment-li .reply-box{ background: #f6f6f6; /*margin-left: -23px;*/ padding: 5px 10px 5px 35px; box-sizing: border-box;}
.comment-li .reply-box .btn{ height: 26px; line-height: 26px; margin:5px 0 0 0; border-radius: 4px;}
.comment-li .reply-ul{ color: #333; background: #f6f6f6; font-size: .9em; /*margin-left: -23px;*/}
.comment-li .reply-li{ padding: 10px 10px 0 35px;}
.comment-li .reply-li i{ font-size: .9rem;}
.comment-li .reply-li .avatar, .comment-li .reply-box .avatar{ margin: 0 0 0 -30px; width: 25px; height: 25px;}
.comment-li .reply-con{ line-height: 18px;}
.comment-li .reply-con b{ color: #5474b5;}
.comment-li .reply-handle .time{ font-size: .8em; color: #999;}
.comment-li .reply-handle .ico{ float: right; color: #5474b5;}
.comment-li .reply-handle .f-close{ font-size: .7em;}
.comment-li .more{ color: #999; background: #f6f6f6; text-align: center; margin:2px 0 0 -0px; line-height: 24px; font-size: .9em;}
.comment-li-more{ display: block; margin:10px; height: 30px; line-height: 30px; text-align: center; color: #666; background: #ddd; border-radius: 4px;}
