@charset "utf-8";
/*
Date: 2014-10-15
*/

/* act-rule */
.act-area{
	.act-area-hd{line-height:36px; background:#efefef; border-left:3px solid #c71a1a; font-size:1.2em; padding-left:5px;}
	.hdgz-link{display:block; color:#666; line-height: 25px; margin:10px;
		.txt{display: block; width: 100%; height: 54px; line-height: 18px; overflow: hidden; font-size:.9em;}
		.morex{display:block; width: 100%; text-align: right;}
		.f-tolink{color:#cd3434; margin-left:3px;}
	}
}