@charset "utf-8";
/*
Author: piercalex
Date: 2014-10-13
*/

/* footer */
.footer{ font-size:.8em; line-height:15px; background:#292929; color:#898989; margin-top:15px; padding:15px 0 45px 10px; overflow:hidden; line-height:15px; color:#898989; margin-top:25px;
  .bg{ float:right; width:69px; height:35px; background:url(totop.png) no-repeat; background-size:100%; margin-top:5px;}
}
